[access "refs/*"]
	owner = group Administrators
	create = group Galaxy Tab Strike Force
	push = +force group Galaxy Tab Strike Force
	label-Verified = -1..+1 group Galaxy Tab Strike Force
	label-Code-Review = -2..+2 group Galaxy Tab Strike Force
	submit = group Galaxy Tab Strike Force
[project]
[submit]
	action = rebase if necessary
